<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
  <key>Label</key>
    <string>com.julianadeau.jobber</string>
    <key>ProgramArguments</key>
    <array>
        <string>sudo</string>
        <string>/usr/local/libexec/jobbermaster</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/jobber_out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/jobber_err.log</string>

    <key>UserName</key>
    <string>root</string>
    <key>GroupName</key>
    <string>wheel</string>
  </dict>
</plist>
